* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.main-page-recipes-list {
    text-align: center;
}

.main-page-recipes-list ul {
    display: inline-block;
    text-align: left;
}